<head>
    <title>Real-time chat</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> 
    <link href="/css/style.css" type="text/css" rel="stylesheet" />
</head>