<!DOCTYPE html>
<%- include('../views/head'); %>
    <html lang="en">

    <body>
        <form action="/auth/register" method="POST">
            <!-- user name input -->
            <div class="">
                <input type="text" id="username" name="username" />
                <label for="username">User name</label>
            </div>

            <!-- Password input -->
            <div class="">
                <input type="password" id="password" name="password" />
                <label for="password">Password</label>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn">Submit</button>
        </form>
        <%- include('../views/scripts'); %>

    </body>

    </html>